export PATH=/usr/local/opt/ruby/bin:/usr/local/bin:/usr/local/sbin:/opt/local/bin:/opt/local/sbin:/usr/bin:$PATH
export MANPATH=/opt/local/share/man:$MANPATH
export CLICOLOR=1
export LSCOLORS=gxfxcxdxbxaxhdxxbhgaga
export SVN_EDITOR=/usr/bin/nano
export HISTCONTROL=erasedups
export HISTSIZE=10000
export EDITOR=/Users/asbjorn/bin/e
